<div class="container-fluid padding d-flex justify-content-center" style="border: 0px solid black;">
    <div class="row padding col-xs-14 col-sm-18 col-md-12 d-flex justify-content-center center-container" style="border: 0px solid red;">

        <div class="container-fluid padding d-flex justify-content-center" style="margin-top: 15px;">
            <div class="row">
                <img src="assets/images/dummy-page-header.png" class="img-fluid">
            </div>
        </div>


        <!-- Two Column Section -->
        <div class="container-fluid padding about-container">
            <div class="row padding">
                <div class="col-lg-1 text-center"></div>
    
                <div class="col-lg-5 text-center">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har
                        været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig
                        spalte for at trykke en bog til sammenligning af forskellige skrifttyper</p>
                </div>
                <div class="col-lg-5 text-center">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har
                        været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig
                        spalte for at trykke en bog til sammenligning af forskellige skrifttyper</p>
                </div>
    
                <div class="col-lg-1 text-center"></div>
            </div>
        </div>

        <!-- Two Column Section -->
        <div class="container-fluid padding about-container">
            <div class="row padding">
                <div class="col-lg-1 text-center"></div>
    
                <div class="col-lg-5 text-center">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har
                        været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig
                        spalte for at trykke en bog til sammenligning af forskellige skrifttyper</p>
                </div>
                <div class="col-lg-5 text-center">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har
                        været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig
                        spalte for at trykke en bog til sammenligning af forskellige skrifttyper</p>
                </div>
    
                <div class="col-lg-1 text-center"></div>
            </div>
        </div>

        <!-- One Column Section -->
        <div class="container-fluid padding about-container">
            <div class="row padding">
                <div class="col-lg-1 text-center"></div>
    
                <div class="col-lg-10 text-center">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har
                        været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig
                        spalte for at trykke en bog til sammenligning af forskellige skrifttyper</p>
                </div>
    
                <div class="col-lg-1 text-center"></div>
            </div>
        </div>

    </div>
</div>