<div class="container-fluid padding d-flex justify-content-center" style="border: 0px solid black;">
    <div class="row padding col-xs-14 col-sm-18 col-md-12 d-flex justify-content-center center-container" style="border: 0px solid black;">
        <!-- Welcome Section -->
        <div class="row welcome text-center" style="margin-top: 15px; margin-bottom: 15px; border: 0px solid black; width: 100%;">
            <div class="col-12">
                <h1 class="display-4">Velkommen</h1>
            </div>
            <hr class="title-seperator" style="width: 90%;">
            <div class="col-12">
                <p class="lead">Velkommen til BudgetApp!</p>
            </div>
        </div>

        <div class="row welcome text-center">
            <!-- START CAROUSEL -->
            <div id="slides" class="carousel slide" data-ride="carousel" style="border: 0px solid black;">
                <ul class="carousel-indicators">
                    <li data-target="#slides" data-slide-to="0" class="active"></li>
                    <li data-target="#slides" data-slide-to="1"></li>
                    <li data-target="#slides" data-slide-to="2"></li>
                </ul>
            
                <div class="text-center">
                    <div class="carousel-inner">
            
                        <!-- Carousel Image 1 -->
                        <div class="carousel-item active">
                            <img src="assets/images/slider13.png" alt="">
                            <div class="carousel-caption">
                                <div class="carousel-text-container">
                                    <h1 class="display-2">
                                        Hold styr på budgettet
                                    </h1>
                                    <h3>
                                        Nemt at holde styr på budgettet.
                                    </h3>
            
                                    <button routerLink="features" type="button" class="btn btn-outline-light" style="margin-right: 5px;">
                                        Se demo
                                    </button>
                                    <button type="button" class="btn btn-primary" style="margin-left: 5px;">
                                        Kom igang
                                    </button>
                                </div>
            
                            </div>
                        </div>
            
                        <!-- Carousel Image 2 -->
                        <div class="carousel-item">
                            <img src="assets/images/slider23.png" alt="">
                            <div class="carousel-caption">
                                <div class="carousel-text-container">
                                    <h1 class="display-2">
                                        Notifikationer
                                    </h1>
                                    <h3>
                                        Få notifikationer el. mails når det er tid til at betale en regning.
                                    </h3>
                                </div>
                            </div>
                        </div>
            
                        <!-- Carousel Image 3 -->
                        <div class="carousel-item">
                            <img src="assets/images/slider33.png" alt="">
                            <div class="carousel-caption">
                                <div class="carousel-text-container">
                                    <h1 class="display-2">
                                        Administrer regninger
                                    </h1>
                                    <h3>
                                        Nemt at administrere regninger og holde styr på tidligere.
                                    </h3>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
            <!-- END CAROUSEL -->
        </div>

        <hr class="" style="width: 100%; border: 0px solid black;">

        <!-- Two Column Section -->
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-lg-6" style="margin-top: 15px;">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har
                        været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig
                        spalte for at trykke en bog til sammenligning af forskellige skrifttyper</p>
                    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har
                        været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig
                        spalte for at trykke en bog til sammenligning af forskellige skrifttyper.</p>
                    <p>Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i
                        elektronisk typografi uden væsentlige ændringer.</p>
                    <br>
                    <a routerLink="features" class="btn btn-primary">Læs mere</a>
                </div>
                <div class="col-lg-6" style="margin-top: 15px;">
                    <img src="assets/images/slider23.png" class="img-fluid">
                </div>
            </div>
        </div>

        <hr class="title-seperator" style="width: 100%; margin-bottom: 50px;">

        <!-- Two Column Section -->
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-lg-6" style="margin-top: 15px;">
                    <img src="assets/images/slider33.png" class="img-fluid">
                </div>
                <div class="col-lg-6" style="margin-top: 15px;">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har
                        været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig
                        spalte for at trykke en bog til sammenligning af forskellige skrifttyper</p>
                    <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har
                        været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig
                        spalte for at trykke en bog til sammenligning af forskellige skrifttyper.</p>
                    <br>
                    <a routerLink="features" class="btn btn-primary">Læs mere</a>
                </div>
            </div>
        </div>

        <hr class="" style="width: 100%; border: 0px solid black;">
</div>